@font-face 
{
  font-family: 'Effra_Std_Bd';
  src: url('font/Effra/Effra_Std_Bd.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face 
{
  font-family: 'Effra_Std_It';
  src: url('font/Effra/Effra_Std_It.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face 
{
  font-family: 'Effra_Std_Md';
  src: url('font/Effra/Effra_Std_Md.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face 
{
  font-family: 'Effra_Std_Rg';
  src: url('font/Effra/Effra_Std_Rg.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face 
{
  font-family: "Effra Light";
  src: url("font/Effra/cb125877edce66887e4e20644cd84bd7.eot"); /* IE9*/
  src: url("font/Effra/cb125877edce66887e4e20644cd84bd7.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("font/Effra/cb125877edce66887e4e20644cd84bd7.woff2") format("woff2"), /* chrome、firefox */
  url("font/Effra/cb125877edce66887e4e20644cd84bd7.woff") format("woff"), /* chrome、firefox */
  url("font/Effra/cb125877edce66887e4e20644cd84bd7.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("font/Effra/cb125877edce66887e4e20644cd84bd7.svg#Effra Light") format("svg"); /* iOS 4.1- */
}
@font-face 
{
  font-family: 'Minion Pro Bold Cond';
  src: url('font/MinionPro/Minion Pro Bold Cond.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face 
{
  font-family: 'Minion Pro Bold';
  src: url('font/MinionPro/Minion Pro Bold.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face 
{
  font-family: 'Minion Pro Italic';
  src: url('font/MinionPro/Minion Pro Italic.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face 
{
  font-family: 'Minion Pro Medium';
  src: url('font/MinionPro/Minion Pro Medium.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face 
{
  font-family: 'Minion Pro Semibold';
  src: url('font/MinionPro/Minion Pro Semibold.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face 
{
  font-family: 'Minion Pro Regular';
  src: url('font/MinionPro/Minion Pro Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
}
