/* ---------------------- All ---------------------- */
*
{
	outline: 0 !important;
}
a:hover
{
	text-decoration: none;
}
.btn:focus
{
	box-shadow: none !important;
}
input:invalid 
{
  box-shadow: none;
}
.row 
{
	margin: 0;
}
/* ---------------------- END All ---------------------- */

/* ---------------------- Checkox // radio ---------------------- */

.custom-radio .custom-control-label::before 
{
    border-radius: 50%;
    border: 1px solid #adadad;
    background-color: #fff;
    box-shadow: none !important;
}
.custom-control-label::after,
.custom-control-label::before 
{
	width: 20px;
	height: 20px;
	top: 0;
}
.custom-radio .custom-control-input:checked ~ .custom-control-label
{
	color: #003269;
}
.custom-radio .custom-control-input:checked ~ .custom-control-label::before 
{
	border-color: #003269;
	background-color: #fff;
}
.custom-radio .custom-control-input:checked ~ .custom-control-label::after 
{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='%23003269'/%3E%3C/svg%3E");
    background-size: 14px;
}
/* ---------------------- END Checkox // radio ---------------------- */

/* ---------------------- Header ---------------------- */

.kl_header
{
	background-color: #f0ece8;
	padding: 0;
	padding-top : 30px;
}
.kl_header_inside .btn
{
	padding: 0;
}
.kl_header_inside 
{
	background-color: #fff;
	padding: 5px 0;
	border-top: 1px solid #cdcdcd;
	border-bottom: 1px solid #cdcdcd;
	display: flex;
}
.kl_separator
{
	padding: 0 3px;
}
.kl_user_space a img
{
	vertical-align: sub;
}
.kl_user_space a
{
	font-size: 16px;
	font-family: 'Effra_Std_Rg';
}
.kl_mn_ticket
{
	color: #cdcdcd;
}
.kl_mn_espace
{
	color: #e91d76;
}
.popover
{
	width: 450px;
	max-width: 100%;
}
.popover .nav-tabs
{
	border : 0;
}
.popover .nav-tabs .nav-link
{
	border : 0;
	color: #003269;
	opacity: 0.7;
	position: relative;
}	
.popover .nav-tabs .nav-link::after
{
    content: "";
    display: block;
    position: absolute;
    border-bottom: 3px solid #1a1f5f;
    width: 0px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2px;
	-webkit-transition: width 0.3s;
	transition: width 0.3s;
} 
.popover .nav-tabs .nav-link.active::after 
{
    width: 100px;
}
.popover .nav-tabs .nav-link.active
{
	opacity: 1;
}
.popover .tab-content .tab-pane h4
{
	font-size: 18px;
	color: #003269;
}
.popover .tab-content .tab-pane hr
{
	margin : 0;
	display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #d1d2df;
}
.popover .tab-content .tab-pane
{
	padding: 30px 15px 10px 15px;

}
.popover .tab-content .tab-pane label
{
	font-size: 14px;
	color: #a7a7a7;
	font-family: 'Effra_Std_Rg';
}
.popover .tab-content .tab-pane input
{
	border-radius: 6px;
	color: #a7a7a7;
	width: 100%;
	height: 27px;
	border: 1px solid #a7a7a7;
	padding: 5px 10px;
	font-size: 14px;
	font-family: 'Effra_Std_Rg';
}
.popover .tab-content .tab-pane button
{
	background: transparent;
	border: 0;
	color: #003269;
	font-size: 24px;
}
.kl_header_bottom h1:after
{
    content: "";
    display: block;
    position: absolute;
    border-bottom: 2px solid #1a1f5f;
    width: 60%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0px;
}
.kl_header_bottom h1
{
	color: #003269;
	font-family: 'Minion Pro Semibold';
	letter-spacing: 7px;
	font-size: 34px;
	position: relative;
	padding-bottom: 13px;
}
.Kl_Title_JM .col-12 a
{
	color: #003269;
	font-family: 'Effra Light';
	border-right: 1px solid #003269;
	padding: 0 8px;
}
.Kl_Title_JM .col-12 a:last-child
{
	border-right : 0;
}

/* ---------------------- END Header ---------------------- */

/* ---------------------- Footer ---------------------- */

footer .kl_footer_top
{
	background-color: #f0ece8;
	padding-top: 25px; 
	padding-bottom: 25px; 
}
footer .kl_footer_top .row div h2,
footer .kl_footer_top .row div p
{
	color: #003269;	
}
footer .kl_footer_top .row .kl_footer_info_middel button
{
	background-color: #003269;
	border: 0;
	color: #fff;
	border-radius: 15px;
	padding: 13px 16px;
	font-size: 21px;
	font-family: 'Minion Pro Bold';
}
footer .kl_footer_top .row .kl_footer_info_middel p
{
	font-family: 'Minion Pro Regular';
}
footer .kl_footer_top .row .kl_footer_info_middel h2
{
	font-size: 24px;
	margin: 0;
	font-family: 'Minion Pro Bold';
}
footer .kl_footer_top .row .kl_footer_info:first-child::after,
footer .kl_footer_top .row .kl_footer_info_middel:after
{
    content: "";
    display: block;
    position: absolute;
    border-right: 1px solid #003269;
    height: 50%;
    top: 50%;
    transform: translateY(-50%);
    right: 0px;
	-webkit-transition: width 0.3s;
	transition: width 0.3s;
} 
footer .kl_footer_top .row div
{
	padding-right: 45px;
	padding-left: 45px;
}
footer .kl_footer_top .row .kl_footer_info
{
	padding-top: 20px; 
	position: relative;
}
footer .kl_footer_top .row .kl_footer_info h2
{
	font-size: 26px;
	font-family: 'Minion Pro Regular';

}
footer .footer_middle h2
{
	border-bottom: 1px solid #003269;
	font-size: 23px;
	color: #003269;
	font-family: 'Minion Pro Regular';	
}
footer .footer_middle p
{
	font-size: 14px;
	color: #414141;
	font-family: 'Effra Light';
	line-height: 16px;
	margin: 0;
}
footer .footer_middle p img
{
	padding-left: 70px;
}
footer .kl_footer_bottom .float-right a:first-child
{
	border-right: 1px solid #6986a7;
}
footer .kl_footer_bottom .float-right a:last-child{
	position: relative;
	padding-left: 10px;
}
footer .kl_footer_bottom .float-right a:last-child:after
{
    content: "";
    display: block;
    position: absolute;
    border-right: 1px solid #6986a7;
    height: 250%;
    top: 50%;
    transform: translateY(-50%);
    left: 0px;
	-webkit-transition: width 0.3s;
	transition: width 0.3s;
} 
footer .kl_footer_bottom .float-right *:not(:last-child)
{
	padding: 0 4px;
}
footer .kl_footer_bottom
{
	background-color: #003269;
}
footer .kl_footer_bottom *
{
	color: #fff;
	font-family: 'Effra_Std_Rg';
	font-size: 15px;
}
/* ---------------------- END Footer ---------------------- */

/* ---------------------- Home ---------------------- */

.Kl_slider_home .owl-dots 
{
    position: absolute;
    right: 90px;
    bottom: 8%;
}
.owl-theme .owl-dots .owl-dot span
{
	background-color: #fff;
	width: 8px;
	height: 8px;
	margin: 0 2px;
}
.owl-theme .owl-dots .owl-dot.active span
{
    background-color: #da0364;
}
.Kl_slider_home .kl_slide_desc
{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 220px;
	background-color: #003269;
}
.Kl_slider_home .kl_slide_desc_inside
{
	position: relative;
	height: 100%;
}
.Kl_slider_home .kl_slide_desc_inside p
{
	color: #fff;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	width: 100%;
	margin: 0;
}
.kl_home_blocs h2{
	font-size: 27px;
	color: #003269;
	font-family: 'Minion Pro Regular';
}
.kl_home_blocs hr
{
	margin : 0;
	display: block;
    height: 2px;
    border: 0;
    border-top: 1px solid #003269;	
}
.kl_home_blocs p
{
	font-family: 'Effra Light';
	color: #414141;
	font-size: 18px;
}
.kl_type_ticket 
{
	position: relative;
	overflow: hidden;
}
.kl_type_ticket .kl_type_name
{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(255,255,255,0.85);
	opacity: 0;
	-webkit-transition: 500ms ease-out ;
    -moz-transition: 500ms ease-out ;
    -o-transition: 500ms ease-out ;
    transition: 500ms ease-out ;
}
.kl_type_ticket:hover .kl_type_name{
	-webkit-transition: 500ms ease-out ;
    -moz-transition: 500ms ease-out ;
    -o-transition: 500ms ease-out ;
    transition: 500ms ease-out ;
    opacity: 1;	
}
.kl_type_name_inside
{
	position: relative;
	height: 100%;
}
.kl_type_name_inside h3::before
{
    content: "";
    display: block;
    position: relative;
    border-bottom: 1px solid #2a2a2a;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
    top: -8px;
	-webkit-transition: width 0.3s;
	transition: width 0.3s;
}  
.kl_type_name_inside h3::after
{
    content: "";
    display: block;
    position: relative;
    border-bottom: 1px solid #2a2a2a;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
    bottom: -8px;
	-webkit-transition: width 0.3s;
	transition: width 0.3s;
}  
.kl_type_name_inside h3 
{
	font-size: 25px;
	font-family: 'Minion Pro Bold';
	color: #2a2a2a;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	width: 100%;
	margin: 0;
}
.kl_home_blocs img
{
	width: 100%;
	height: auto;
}

/* ---------------------- END Home ---------------------- */