/* Sur les écrans, quand la largeur de la fenêtre fait au maximum 991px */
@media screen and (max-width: 991px)
{	
	/* ---------------------- Header ---------------------- */

	.kl_header_bottom h1
	{
		font-size: 23px;
	}

	/* ---------------------- END Header ---------------------- */

	/* ---------------------- Footer ---------------------- */

	footer .kl_footer_top .row div 
	{
	    padding-right: 15px;
	    padding-left: 15px;
	}
	footer .kl_footer_top .row .kl_footer_info h2 
	{
	    font-size: 16px;
	}
	footer .kl_footer_top .row .kl_footer_info_middel button 
	{
    	padding: 7px 16px;
    	font-size: 14px;
	}
	footer .kl_footer_top .row .kl_footer_info_middel h2 
	{
	    font-size: 16px;
	}
	/* ---------------------- END Footer ---------------------- */

	/* ---------------------- Home ---------------------- */

	.kl_home_blocs h2 
	{
    	font-size: 19px;
	}
	.kl_home_blocs p 
	{
    	font-size: 14px;
	}
	.kl_type_name_inside h3 
	{
    	font-size: 18px;
    }
	
	/* ---------------------- END Home ---------------------- */

}

/* Sur les écrans, quand la largeur de la fenêtre fait au maximum 767px */
@media screen and (max-width: 767px)
{	
	

	

	/* ---------------------- Home ---------------------- */

	.kl_home_blocs .col-sm-12.col-md-4.col-lg-4.col-12.pr0.float-left
	{
		padding: 15px 0 0 0;
	}
	.kl_home_blocs img
	{
		display: block;
		margin: 0 auto;
		width: initial;
	} 
	/* ---------------------- END Home ---------------------- */

	/* ---------------------- Footer ---------------------- */

	footer .footer_middle p img
	{
		padding: 0
	}
	footer .footer_middle_text p:last-child
	{
		width: 100%;
		text-align: center;
		padding-top: 15px;
	}
	
	/* ---------------------- END Footer ---------------------- */
}
/* Sur les écrans, quand la largeur de la fenêtre fait au maximum 575px */
@media screen and (max-width: 575px)
{
	/* ---------------------- Header ---------------------- */

	.kl_header_bottom a 
	{
		font-size: smaller;
	}
	.kl_header_bottom h1
	{
		font-size: 18px;
	}
	.kl_header_bottom .col-12
	{
		padding: 0;
	}
	.Kl_logo_JM 
	{
		text-align: center;
	}

	/* ---------------------- END Header ---------------------- */

	/* ---------------------- Footer ---------------------- */

	
	footer .kl_footer_top .row .kl_footer_info:first-child::after, footer .kl_footer_top .row .kl_footer_info_middel::after {
		content: none;
	}
	footer .kl_footer_top .row .kl_footer_info:first-child::before, footer .kl_footer_top .row .kl_footer_info_middel::before {
		content: "";
		display: block;
		position: absolute;
		border-bottom: 1px solid #003269;
		height: 0;
		left: 50%;
		transform: translateX(-50%);
		bottom: 0px;
		-webkit-transition: width 0.3s;
		transition: width 0.3s;
		width: 50%;
	}
	footer * 
	{
	    text-align: center;
	    margin: 0 auto;
		display: block;
	}
	footer p 
	{
		width: 100%;
	}
	.kl_footer_top .container .row .col-sm-4 
	{
	    padding: 19px 0;
	}
	.kl_footer_bottom .float-right *
	{
		display: inline-block;
	}
	.kl_footer_bottom .float-right
	{
		float: none !important;
		padding-top: 30px;
		display: inline-block;
	}

	/* ---------------------- END Footer ---------------------- */

	/* ---------------------- Home ---------------------- */

	.kl_type_ticket 
	{

	    position: relative;
	    overflow: hidden;
	    display: inline-block;
	    left: 50%;
	    transform: translateX(-50%);

	}
	.kl_home_blocs *
	{
		padding: 0;
	}
	.Kl_slider_home .kl_slide_desc
	{
		position: static;
		width: 100%
	}
	.Kl_slider_home .kl_slide_desc_inside p
	{
		position: static;
		transform: translateX(0);
		padding: 4px 0 19px 0px;
		font-size: 14px;
	}
	.Kl_slider_home .owl-dots
	{
		right: 50%;
		bottom: 0px;
		transform: translateX(50%);
	}

	/* ---------------------- END Home ---------------------- */
}